{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "react/prop-types": [
      2
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "import/extensions": [
    "error",
    "never",
    {
      "js": "never",
      "jsx": "never"
    }
  ]
}