$spacing-unit:     30px !default;
body, html{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:#555;
}
h1,h2,h3{
  color:#2081C3;
  font-family: 'Lato', sans-serif;
}
h2{
  font-size: 60px;
  text-align: center;
}
h1{
  font-weight: 300;
  font-size: 70px;
}
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}