.subnav-hero-section {
  text-align: center;
  background: #1779ba;
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  background: rgba(254, 254, 254, 0.15)
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

.responsive-blog-footer {
  background: #4a4a4a;
  padding: 3rem 3rem;
  color: white;
}

@media screen and (max-width: 39.9375em) {
  .responsive-blog-footer h4 {
    font-size: 1.5rem;
  }
}

.responsive-blog-footer p {
  color: #8a8a8a;
}

.responsive-blog-footer .mailing-list {
  margin-bottom: 1.5rem;
}

.responsive-blog-footer .mailing-container {
  margin-bottom: 2rem;
}

.responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
  margin-bottom: 2rem;
}

.responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
  color: #1779ba;
}

.responsive-blog-footer .subscribe-button {
  background-color: #1779ba;
}

.responsive-blog-footer .subscribe-button:hover {
  background-color: #146aa3;
  transition: color 0.3s ease-in;
}

.responsive-blog-footer .fa-chevron-circle-up {
  font-size: 3rem;
  color: #8a8a8a;
}

.responsive-blog-footer .fa-chevron-circle-up:hover {
  color: #b0b0b0;
  transition: color 0.3s ease-in;
}


