@import "variables";

.rw-box {
  font-family: $rw-box-font;
  font-size:13px;
  color:$rw-text-color;
  width: $rw-box-width;
  height:$rw-box-height;
  background-color: $rw-box-bg;
  display: flex;
  border-radius: $rw-box-radius;
  h2{
    margin:0 0 10px 0;
    font-weight: 300;
    font-size: x-large;
    letter-spacing: 2px;
  }
  .hr{
    width:100%;
    height: 0;
    border-bottom: solid 1px #fff;
    opacity: 0.4;
    margin:10px 0;
  }
  p{
    margin:0;
  }
  .rw-box-left{
    padding:30px;
    width:60%;
    
  }
  .rw-box-right{
    background-color: #3CC0FE;
    border-radius: 0 $rw-box-radius $rw-box-radius 0 ;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      
      font-size:100px;
    }
  }
  .rw-today{
    .date{
      color:$rw-text-secondary-color;
    }
    .current{
      font-size:50px;
    }
    .desc{
      color:#D2E9FA;
      font-size:15px;
      i{
        color:#D2E9FA;
      }
    }
    .info{
      color: $rw-text-secondary-color;
      div{
        margin-bottom:5px;
      }
    }
  }
  .rw-container{
    display: flex;
    .rw-today{
      width:$rw-box-width;
    }
    .rw-5days{
      width:calc(#{$rw-box-width} / 5);
    }
    .rw-date{
      font-size:12px;
      font-weight: bold;
    }
    .rw-desc{
      margin-top:20px;
      font-size:12px;
    }
    .rw-current{
      margin-top:5px;
      font-size:30px;
    }
    .rw-range{
      font-size:12px;
    }
    .rw-info{
      margin-top:10px;
      font-size: 12px;
    }
    .wicon {
      margin-top:15px;
      font-size: $rw-icon-size;
    }
  }

}
