@import "variables";

.rw-box {
  font-family: $rw-box-font;
  color:$rw-text-color;
  text-align: center;
  width: $rw-box-width;
  height:$rw-box-height;
  background-color: $rw-box-bg;
  padding:20px;
  h2{
    margin:0 0 15px 0;
  }
  p{
    margin:0;
  }
  .rw-container{
    display: flex;
    .rw-today{
      width:$rw-box-width;
    }
    .rw-5days{
      width:calc(#{$rw-box-width} / 5);
    }
    .rw-date{
      font-size:12px;
      font-weight: bold;
    }
    .rw-desc{
      margin-top:20px;
      font-size:12px;
    }
    .rw-current{
      margin-top:5px;
      font-size:30px;
    }
    .rw-range{
      font-size:12px;
    }
    .rw-info{
      margin-top:10px;
      font-size: 12px;
    }
    .wicon {
      margin-top:15px;
      font-size: $rw-icon-size;
    }
  }

}
